.document{data: { id: "{{id}}" }}
  %ul.nav.nav-tabs{:class => "small"}
    {{#has_registers}}
    %li
      %a{href: '#facts', data: { toggle: 'tab'}} Hechos
    {{/has_registers}}
    {{#has_people}}
    %li
      %a{href: '#names', data: { toggle: 'tab'}} Nombres
    {{/has_people}}
    {{#has_organizations}}
    %li
      %a{href: '#organizations', data: { toggle: 'tab'} } Organizaciones
    {{/has_organizations}}
    {{#has_dates}}
    %li
      %a{href: '#dates', data: { toggle: 'tab'} } Fechas
    {{/has_dates}}
    {{#has_places}}
    %li
      %a{href: '#places', data: { toggle: 'tab'} } Lugares
    {{/has_places}}
  .tab-content
    {{#has_registers}}
    .tab-pane#facts
      %ul
        {{#registers}}
        %li
          %span.people
            {{who}}
          %span.dates
            {{when}}
          %span.others
            {{what}}
          %span.places
            {{where}}
          %span.people
            {{to_who}}
        {{/registers}}
    {{/has_registers}}
    {{#has_people}}
    .tab-pane#names
      %table.table.table-condensed.tablesorter
        %thead
          %tr
            %th
              Personas
            %th
              Menciones
            -#%th
        %tbody
          {{#people}}
          %tr
            %td
              {{name}}
            %td
              {{mentions}}
            -#
              %td.blacklist
                %a{href: "/people/{{id}}/blacklist", data: {name: "{{name}}"}}
                  %i.icon-remove
          {{/people}}
      -#%a{href: '/documents/{{id}}/people'} Lista completa
    {{/has_people}}
    {{#has_organizations}}
    .tab-pane#organizations
      %table.table.table-condensed.tablesorter
        %thead
          %tr
            %th
              Organizaciones
            %th
              Menciones
        %tbody
          {{#organizations}}
          %tr
            %td
              {{text}}
            %td
              {{mentions}}
          {{/organizations}}
      -#%a{href: '#'} Lista completa
    {{/has_organizations}}
    {{#has_dates}}
    .tab-pane#dates
      %table.table.table-condensed.tablesorter
        %thead
          %tr
            %th
              Fechas
            %th
              Menciones
        %tbody
          {{#dates}}
          %tr
            %td
              {{text}}
            %td
              {{mentions}}
          {{/dates}}
    {{/has_dates}}
    {{#has_places}}
    .tab-pane#places
      %table.table.table-condensed.tablesorter
        %thead
          %tr
            %th
              Lugares
            %th
              Menciones
        %tbody
          {{#places}}
          %tr
            %td
              {{text}}
            %td
              {{mentions}}
          {{/places}}
    {{/has_places}}
