%tr{:"data-id" => document.id, :class => (document.failed? && 'failed')}
  %td{:style => "width: 70px"}
    %a.thumbnail{:href => "#"}
      %img{:src => thumbnail_url(document)}
  %td
    %h5.title
      %a{:href => "#"}= document.title

    .info
      = localize(document._id.generation_time.to_date, format: :short_b)

    .tools
      = render 'tools', document: document

    %div{class: progress_classes(document)}
      .bar{:style => "width: #{document.percentage}%;"}
