%header
  .subnav.subnav-fixed
    %ul.nav.nav-pills
      %li{:class => current_page?(documents_path) ? "active" : nil}
        %a{:href => documents_path}= t "all_documents"
      %li{:class => current_page?(new_document_path) ? "active" : nil}
        %a{:href => new_document_path}= t "new_document"

- content_for :free do
  .row-fluid
    .span4
      %h3 Importar documento
      = form_tag documents_path, multipart: true, id: 'new_document' do |f|
        %div{class: 'input file optional document_file'}
          %input#file_upload{type: 'file', name: 'document[files][]', multiple: true}
        %input{type: 'submit', class: 'btn'}

      %h3 Linkear documento
      = form_tag link_documents_path do |f|
        %div{class: 'input file optional document_file'}
          %input#link{type: 'text', name: 'document[link]'}
        %input{type: 'submit', class: 'btn', value: 'Link'}

