<%= content_for :head do %>
  <style>
    .vertical-toolbar {
      z-index: 1000;
    }
    
    .visualizer{
      width: 28%;
      float: left;
    }

    .visualizer ul li {
      float: left;
    }

    .content {
      display: block;
      clear: both;
    }

    .pages {
      height: auto;
      height: 100%;
      min-height: 100%;
      position: absolute;
      overflow: auto;
      width: 100%;
    }

    .pages li {
      border: 1px solid silver;
      padding: 100px 50px;
      text-align: justify;
    }

    .pages .people {
      color: #f8a01e;
    }
    .pages .organizations {
      color: #306f74;
    }
    .pages .places {
      color: #8d201d;
    }
    .pages .dates {
      color: #458767;
    }

    .pages .people.hide.hide,
    .pages .organizations.hide, 
    .pages .places.hide,
    .pages .dates.hide {
      color: #808184;
    }
</style>

<% end %>
<%= content_for :header do %>
  <div class="toolbar"></div>
<% end %>

<div class="main-content-app mapa76 clearfix">
  <div class="vertical-toolbar clearfix"></div>
  <div class="content clearfix">
    <div class="top-nav-bar">
      <div class="nav-bar">
        <ul class="nav-bar-tools clearfix">
          <li class="tool first active"><%=link_to 'Documentos', documents_path %></li>
          <li class="tool inactive"><a href="#">Hechos</a></li>
          <li class="tool inactive"><a href="#">Relaciones</a></li>
          <li class="tool last inactive"><a href="#">Proyectos</a></li>
        </ul>
      </div>
      <div class="toolbar"></div>
    </div>
    <div class="box-content clearfix"></div>
  </div>
</div>

<%= content_for :outside do %>
  <div id="modal-container"></div>
  <script type="text/javascript">
    $(function() {
      window.aeolus.startApp("document");
    });
  </script>
<% end %>