<div class="main-content page-error clearfix">
  <div class="content clearfix">
    <div class="error-wrapper error-404 clearfix">
      <div class="text">Error</div>
      <div class="number">404</div>
      <div class="text2">Página no encontrada.</div>
      <div class="text2"><a href="/">Volver al inicio</a></div>
    </div>
  </div>
  <div class="side-bar clearfix">
  </div>
</div>
