<div class="main-content page-error clearfix">
  <div class="content clearfix">
    <div class="error-wrapper error-502 clearfix">
      <div class="text">Error</div>
      <div class="number">500</div>
      <div class="text2">Something is not working</div>
    </div>
  </div>
  <div class="side-bar clearfix">
  </div>
</div>
