*~
*.*~
bin/*
.DS_Store
.rvmrc
.sass-cache/*
*.swp
vendor/gems/*
!vendor/gems/cache/
tmp
log
config/monit.conf

config/mongoid.yml
config/resque.yml
config/monit.yml
config/workers.yml

public/thumbs/*
public/uploads/*
