*~
*.*~
bin/*
.DS_Store
.rvmrc
log/**/*
.rvmrc
.sass-cache/*
*.swp
*.swo
vendor/gems/*
!vendor/gems/cache/
tmp
log
config/monit.conf

config/resque.yml
config/monit.yml
config/workers.yml

public/thumbs/*
public/uploads/*

public/css
public/js
public/manifest.json
