language: ruby
rvm:
  - "1.9.3"
services:
  - mongodb
  - elasticsearch
  - redis-server
bundler_args: --without development
before_script: ./script/ci/set_config_files.sh
before_install: ./script/ci/replace_local_paths.sh
branches:
  except:
      - master
