<div class="header-bar-actions">
<!--
  <div class="action">
    <i>...</i>
  </div>
-->
</div>
<div class="search search-3">
  <input type="text" class="search-box" placeholder="Filtrar">
  <input type="button" value="">
</div>
<div class='list-actions'>
  <div class="order-for items-sort">
    Ordenar:
    <a class="sort-name asc">
      Nombre
      <i class="foundicon-up-arrow arrow-asc"></i>
      <i class="foundicon-down-arrow arrow-desc"></i>
    </a>
    |
    <a class="sort-mentions asc">
      Menciones
      <i class="foundicon-up-arrow arrow-asc"></i>
      <i class="foundicon-down-arrow arrow-desc"></i>
    </a>
  </div>
</div>