<div class="header-bar-actions">
  <div class="action"><i>...</i></div>
</div>
<div class="search search-3">
  <input type="text" class="search-box" placeholder="Buscar Documentos">
  <input type="button" value="">
</div>