<div tabindex="1" class="help-list wrapper-dropdown" id="help-list">
  <span><a href="#"></a></span>
  <ul class="dropdown">
    <li>
      <i class=""></i>
      <a href='/users/{{id}}'>{{name}}</a>
    </li>
    <li>
      <i class=""></i>
      <a href='/about'>Nosotros</a>
    </li>
    <li>
      <i class=""></i>
      <a href='/terms'>Términos de uso</a>
    </li>
    <li>
      <i class=""></i>
      <a href='/contact'>Contacto</a>
    </li>
    <li>
      <i class=""></i>
      <a rel="nofollow" data-method="delete" href="/users/sign_out">Cerrar sesión</a>
    </li>
  </ul>
</div>
