<div tabindex="1" class="help-list wrapper-dropdown" id="help-list">
  <span><a href="#"></a></span>
  <ul class="dropdown">
    {{#if loggedIn}}
    <li>
      <i class=""></i>
      <a href='/users/{{userId}}'>{{userName}}</a>
    </li>
    {{/if}}
    <li>
      <i class=""></i>
      <a href='/about'>Nosotros</a>
    </li>
    <li>
      <i class=""></i>
      <a href='/terms'>Términos de uso</a>
    </li>
    <li>
      <i class=""></i>
      <a href='/contact'>Contacto</a>
    </li>
    {{#if loggedIn}}
    <li>
      <i class=""></i>
      <a rel="nofollow"  data-method="delete" href="/users/sign_out">Cerrar sesión</a>
    </li>
    {{else}}
    <li>
      <i class=""></i>
      <a rel="nofollow" data-method="delete" href="/users/sign_in">Iniciar sesión</a>
    </li>
    {{/if}}
  </ul>
</div>
