// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "compass/css3";
@import "compass/utilities";

.add_documents{
  .notadded, .added {
    float: left;
    width: 400px;
    .empty_documents{
      @include border-radius(2px);
      border: 1px solid #eee;
      width: 350px;
      height: 300px;
    }
    li{
      @include border-radius(2px);
      border: 1px solid #eee;
      height: 30px;
      line-height: 30px;
      padding: 0 5px;
      width: 350px;
      i{
        cursor: pointer;
        margin-top: 7px;
      }
    }
  }
}
