<h1><%=@doc.title%></h1>

<table id='doc_stats'>
  <tr>
    <th><%=link_to "Personas mencionadas",url_for(:persons,:id => @doc.id)%></th><td><%=@doc.person.length%></td>
  </tr><tr>
    <th>Personas incorporadas a la db</th><td>XX</td>
  </tr><tr>
    <th>Hitos registrados</th><td>XX</td>
  </tr>
</table>

