<h1>Documentos conocidos</h1>

<table>
  <thead>
    <th>Name</th>
    <th>Date</th>
  </thead>
  <tbody>
    <% @docs.each do |doc| %>
      <tr>
        <td><%= link_to doc.title, url_for(:doc_admin_index,:doc_id => doc.id) %></td>
        <td><%= doc.created_at.strftime("%d/%m/%Y")%></td>
      </tr>
    <% end -%>
  </tbody>
</table>

<div class="panel">
  <%= link_to "Nuevo Doc", url_for(:admin_import)%>
</div>
