body {
  padding-top: 60px;
  padding-bottom: 40px;
}
.sidebar-nav {
  padding: 9px 0;
}
.sidebar {
  position: fixed;
  right: 20px;
}
.hidden {
  display: none;
}
.classified_good span {
  color: green;
}
.classified_bad span {
  color: red;
}
.name {
  color: blue;
}
.address {
  color: green;
}
.date {
  color: red;
}
span.name, .date, span.address {
  cursor: pointer;
}
h2.fragment {
  font-size: 17px;
}
h3.fragment {
  font-size: 16px;
}
h4.fragment {
  font-size: 15px;
}

/* Events */
.events {
  margin-left: 0;
}

.event {
  display: block;
  background-color: #ddd;
  padding: 3px 4px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  margin-bottom: 6px;
}
.event ul {
  margin-left: 0;
}
.event ul li {
  display: inline-block;
  color: white;
  padding: 3px 4px;
  margin: .2em .1em;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}
.event ul li.type {
  background-color: gray;
}
.event ul li.person {
  background-color: red;
}
.event ul li.organization {
  background-color: blue;
}
.event ul li.place {
  color: black;
  background-color: yellow;
}
.event ul li.date {
  background-color: green;
}
