//Slider content ================================
.content-caroufredsel {
  .caroufredsel_wrapper {
    #content-caroufredsel {
      li{
        float: left;
        width: 567px;
        margin:0 15px;
        img {}
      }
    }
  }
  #content-caroufredsel-pager {
    text-align: center;
    margin: 2px auto 28px auto;
    width: 570px;
    a {
      background-image: url("#{$path-to-images}/slider_control.png");
      background-repeat: no-repeat;
      background-position: right 0;
      width: 147px;
      height: 34px;
      text-indent: -99999px;
      display: block;
      float: left;
      margin: 2px -7px 2px 2px;
      &.selected {

      }
      span {
      }
    }
  }
}

.content-caroufredsel #content-caroufredsel-pager a {
  background-image: url("#{$path-to-images}/item_1_off.png");
  &.selected {
    background-image: url("#{$path-to-images}/item_1_on.png");
  }
}
.content-caroufredsel #content-caroufredsel-pager a+a {
  background-image: url("#{$path-to-images}/item_2_off.png");
  &.selected {
    background-image: url("#{$path-to-images}/item_2_on.png");
  }
}
.content-caroufredsel #content-caroufredsel-pager a+a+a {
  background-image: url("#{$path-to-images}/item_3_off.png");
  &.selected {
    background-image: url("#{$path-to-images}/item_3_on.png");
  }
}
.content-caroufredsel #content-caroufredsel-pager a+a+a+a {
  background-image: url("#{$path-to-images}/item_4_off.png");
  &.selected {
    background-image: url("#{$path-to-images}/item_4_on.png");
  }
}

//Slider prefooter ================================
.prefooter-caroufredsel {
  padding-top: 6px;
  position: relative;
  .caroufredsel_wrapper {
    margin: 0 60px !important;
    #prefooter-caroufredsel {
      li{
        float: left;
        width: 115px;
        margin:0 15px;
        img {}
      }
    }
  }
  a {
    width: 20px;
    height: 60px;
    position: absolute;
    top: 11px;
    text-indent: -99999px;
  }
  .prev {
    float: left;
    left: 0px;
    background: url("#{$path-to-images}/carousel_prev.png") no-repeat 0px 0px;
    margin-left: 6px;
  }
  .next {
    float: right;
    right: 0px;
    background: url("#{$path-to-images}/carousel_next.png") no-repeat 0px 0px;
    margin-right: 6px;
  }
}
