//set defaul urls
$path-to-images :   "/latest/images";
$path-to-fonts :  "/latest/fonts";

//font size
$font-size-tiny:    11px;
$font-size-small:     12px;
$font-size-regular:   13px;
$font-size-large:     14px;
$font-size-x-large:   18px;
$font-size-xx-large:  25px;
$font-size-xxx-large:   35px;

//colors ===========================
//text =============================
$color-primary-text:    #808184;
$color-secondary-text:    #254348;
$color-darck-text:      #231f20;
//heading ==========================
$color-primary-heading:   #254348;
$color-secondary-heading:   #008cc8;
//links ============================
$color-primary-link:    #008cc8;
$color-secondary-link:    #959290;
//==================================
$color-bg:          #ebebec;
$color-border:        #d1d3d4;
$color-white:               #ffffff;
$color-button:        #008cc8;
$color-button-txt:      #ffffff;
$color-button-bigger:     #668d9e;

$color-people:        #f8a01e;
$color-organizations:     #306f74;
$color-places:        #8d201d;
$color-dates:         #458767;
$color-others:        #008cc8;
//==================================
//Emphasis colors ==================
$color-muted:         #aaaaaa;
$color-warning:       #ff6600;
$color-error:         #ed1c24;
$color-info:        #008bc7;
$color-success:       #8ac43f;
//==================================
$color-arrow:         #a4a7aa;
$color-shadow:        #A0A0A0;
//==================================
//APP tools color ==================
$color-lines:         #b7b7b7;
$color-lines-light:     #e1e1e1;
$color-bg-first-lvl:      #cccccc;
$color-bg-second-lvl:     #e1e1e1;
$color-bg-third-lvl:    #ebebeb;
$color-bg-fourth-lvl:     #ffffff;
$color-bg-fifth-lvl:    #f3eee5;
$color-txt-nav-bar:     #acadae;
$color-txt-nav-bar-active:  #5a5a5a;


//Layout
$max-width:   1024px;
$contet:     567px;
$sidebar:      311px;
$min-height:   430px;


$margin-content-to-sidebar: 88px;
$global-padding: 43px 29px 0px 29px;

$global-border-radius: 6px;

$footer-partners: 341px;
$footer-no-partners: 169px;


//@mixin add-icon
$img-x              :0px;
$img-y              :0px;
$add-icon-txt-margin-left     :0px;
$add-icon-txt-margin-right    :0px;


//@mixin arrow-deco
//arrows directions
$arrow-top    : 0px 8px 8px 8px;
$arrow-bot    : 8px 8px 0px 8px;
$arrow-left   : 8px 0px 8px 8px;
$arrow-right  : 8px 8px 8px 0px;
