<ul class="dropdown">
  <li>
    <i class=""></i>
    <%= link_to 'Mis documentos', documents_path %>
  </li>
  <li>
    <i class=""></i>
    <%= link_to 'Cerrar sesión', destroy_user_session_path, :method => :delete %>
  </li>
</ul>
