@import "vars";
@import "mixin";
//People-list ==============================
//example /examples/people-list.jpg
	.people-list {
		li {
			margin-bottom: 20px;
			.left-info {
				float:left;
				width: 79px;
				margin-right: 21px;
				font-size: 21px;
				.avatar {
					float:left;
					background:$color-white;
					padding:4px;
					margin-bottom: 12px;
					img{
						width: 86px;
					}
				}
				.social-icon {
					float:left;
					margin-left:7px;
				}
				.avatar+.social-icon {
					margin-left: 0px;
					clear: left;
				}
			}
			.right-info {
				.name {
					@include opensans-semibold;
					font-size: $font-size-large;
				}
				.mail {
					margin-top: -5px;
					font-size: $font-size-small;
					margin-bottom: 2px;
				}
				p {
					margin-left: 100px;
				}
			}
		}
	}
//=======================================
//Partners-list =========================
//example /examples/partners-list.jpg
	.partners-list {
		.partner {
			margin-bottom: 20px;
			.left-part {
				float: left;
				margin-right: 14px;
				.logo {
					img{}
				}
			}
			.rigth-part {
				.partner-name {
					font-size: $font-size-tiny;
					text-transform: uppercase;
					color: $color-secondary-text;
				}
				.website {
					margin-top: -7px;
					a {
						@include secondary-link;
						font-size: $font-size-tiny;
					}
				}
			}
		}
	}
//=======================================

// info-list ============================
//example /examples/info-list.jpg
	.info-list {
		width: 100%;
		.loading{
			margin: 34%;
		}
		li {
			margin: 0 16px;
			padding: 17px 0;
			border-bottom: 1px dotted $color-lines;
			@include opensans-semibold;
			
			.wrapper {
				position: relative;
				label{
					font-size: $font-size-small;
					margin-right: 54px;
					float: left;
				}
				.result {
					position: absolute;
					right: 0px;
					top: 0px;
					float: right;
					.value {
						float: left;
						background: $color-bg-third-lvl;
						height: 17px;
						padding: 0px 7px;
						border-radius: 2px;
						line-height: 18px;
					}
					.view-more {
						width: 18px;
						height: 18px;
						float: left;
						background-image:  url("#{$path-to-images}/icon_add.png");
						background-repeat: no-repeat;
						background-position-x: right;
						background-position-y: 0;
						cursor: pointer;
						&:hover {
							background-position-x: left;
						}
					}
				}
			}
		}
	}
//=======================================

// view-more-list =======================
//example /examples/view-more-list.jpg
	.view-more-list {
			background: $color-bg-third-lvl;
			border: 1px solid $color-people;
			position: absolute;
			top: 20px;
			right: 0px;
			z-index: 40;
			@include box-shadow(0, 0, 6px, $color-bg-first-lvl, $inset:"");
			@include border-radius (3px 0px 3px 3px);
			.more-list-close {
				content: "x";
				position: absolute;
				border-top: 1px solid $color-people;
				border-left: 1px solid $color-people;
				border-right: 1px solid $color-people;
				border-radius: 3px 3px 0px 0px;
				width: 16px;
				height: 21px;
				background: $color-bg-third-lvl;
				top: -22px;
				right: -1px;
				text-align: center;
				line-height: 17px;
				font-size: 15px;
				cursor: pointer;
				@include transition(all, 0.1s, ease-in-out);
				&:hover {
					@include transition(all, 0.1s, ease-in-out);
					background: $color-people;
					color: $color-white;
				}
			}
		.content-list {
			width: 322px;
			max-height: 280px;
			/* overflow: hidden; */
			.header-list {
				border-bottom: 1px solid $color-lines;
				padding: 10px 11px;
				line-height: 12px;
				em {
					font-size: $font-size-tiny;
					font-style: italic;
				}
			}
			ul {
				li {
					margin: 0px;
					padding: 8px 6px;
					border-bottom: 1px solid $color-lines;
					cursor: pointer;
					position: relative;
					line-height: 14px;
					&:last-child {
						border-bottom: 0px solid $color-lines;
					}
					&:hover {
						@include arrow-deco (left, 5px, $color-people, none, 40%, -6px);
						background: $color-white;
					}
					p {
						@include montserrat-bold;
						color: $color-darck-text;
						font-size: $font-size-tiny;
						margin-bottom: 0px;
						margin-left: 42px;
						line-height: 14px;
					}
					i {
						@include opensans-regular;
						color: $color-people;
						margin-right: 11px;
						width: 31px;
						float: left;
						font-size: $font-size-small;
					}
				}
			}
		}
	}
//=======================================

// view-more-list-lvl2 ==================
//example /examples/view-more-list-lvl2.jpg
	.view-more-list-lvl2 {
		background: $color-bg-fourth-lvl;
		border: 1px solid $color-people;
		position: absolute;
		top: 20px;
		right: 323px;
		z-index: 30;
		@include box-shadow(0, 0, 6px, $color-bg-first-lvl, $inset:"");
		@include border-radius (3px);
		.view-more-list-lvl2-list {
			width: 307px;
			ul {
				li {
					margin: 0;
					padding: 0 11px 17px 11px;
					.doc-info {
						@include opensans-light;
						font-style: italic;
						width: 100%;
						margin: 0;
						clear: both;
						padding: 7px 0;
						margin-bottom: 6px;
						font-size: 12px;
						float: left;
					}
					&:last-child {
						border-bottom: 0px solid $color-lines;
					}
					p {
						@include opensans-regular;
						font-size: $font-size-small;
						margin:0;
						line-height: 15px;
					}
				}
			}
		}
	}
//=======================================

/* View more doc ================== */
//example /examples/view-more-doc.view-more-list.jpg
	.view-more-doc.view-more-list {
		@include border-radius (3px);
		top: 375px;
		left: 30px;
		right: inherit;
		.edit {
			border-bottom: 1px solid $color-people;
			position: relative;
			.edit-bt {
				position: absolute;
			}
			input[type="text"] {
				border: 0;
				@include border-radius (3px 3px 0px 0px);
				width: 284px;
				margin: 0;
				padding: 5px 9px 5px 29px;
			}
		}
		.info {
			font-size: $font-size-tiny;
			@include fopensans-italic;
			text-align: center;
			border-bottom: 1px solid $color-lines;
			padding: 5px 0;
		}
		&.left-position { 
			@include arrow-deco (up, 8px, $color-bg-fourth-lvl, initial, -8px, 11px);
			@include arrow-deco-line  (up, 9px, $color-people, initial, -9px, 10px);
		}
		&.center-position { 
			@include arrow-deco (up, 8px, $color-bg-fourth-lvl, 149px, -8px, initial);
			@include arrow-deco-line  (up, 9px, $color-people, 148px, -9px, initial);
		}
		&.righ-position { 
			@include arrow-deco (up, 8px, $color-bg-fourth-lvl, 11px, -8px, initial);
			@include arrow-deco-line  (up, 9px, $color-people, 10px, -9px, initial);
			ul li {
				&:hover {
					.view-more-list-lvl2 {
						display: block;
					}
				}
			}
			.view-more-list-lvl2 {
				display: none;
				z-index: 0;
				top: -113px;
				right: 322px;
				ul li {
					&:hover {
						@include arrow-deco (right, 0px, $color-people, -6px, 40%, initial);
					}
				}
			}
		}
		&.center-position,
		&.left-position {
			ul li {
				&:hover {
					@include arrow-deco (right, 5px, $color-people, -6px, 40%, initial);
					.view-more-list-lvl2 {
						display: block;
					}
				}
			}
			.view-more-list-lvl2 {
				display: none;
				z-index: 0;
				top: -113px;
				right: -309px;
				ul li {
					&:hover {
						@include arrow-deco (right, 0px, $color-people, -6px, 40%, initial);
					}
				}
			}
		}
	}
/* ================================ */

// documents-list ==================
//example /examples/documents-list.jpg
	.documents-list {
		li.item-list {
			border-bottom: 1px solid $color-lines;
			padding: 15px 27px;
			.col1,
			.col2{}
			.col1 {
				float: left;
			}
			.col2 {
				float: left;
				padding-left: 11px;
				position: relative;
				.doc-name {
					@include montserrat-bold;
					font-size: $font-size-large;
					float: left;
				}
				.doc-date {
					float: left;
					clear: both;
					font-size: $font-size-tiny;
					line-height: 18px;
				}
				.progress-bar {
					position: absolute;
					right: -349px;
				}
			}
			&:hover {
				background: $color-bg-third-lvl;
				.col2 {
					.tools {
						position: absolute;
						right: -165px;
						top: -4px;
						.tool { 
							margin-right: 5px;
						}
						.tool-1 {
							@include simple-icon (icon_analizar_doc); 
							
						}
						.tool-2 {
							@include simple-icon (icon_doc_export_2);
						}
						.tool-3 {
							@include simple-icon (icon_download_2);
						}
						.tool-4 {
							@include simple-icon (icon_trash_2);
						}
					}
				}
			}
		}
		li.selected {
			background: $color-bg-fifth-lvl;
		}
	}
//=======================================

// search-result ==================
//example /examples/documents-list.jpg
	.search-result {
		li.item-list {
			border-bottom: 1px solid $color-lines;
			padding: 15px 27px;
			.col1 {
				float: left;
				position: absolute;
			}
			.col2 {
				float: left;
				padding-left: 27px;
				width: 100%;
				.doc-name {
					@include montserrat-bold;
					font-size: $font-size-large;
					float: left;
				}
				.doc-date {
					float: left;
					clear: both;
					font-size: $font-size-tiny;
					line-height: 18px;
				}
				.progress-bar {
					position: absolute;
					right: -349px;
				}
			}
			.results {
				clear: both;
				margin-left: 24px;
				padding-top: 5px;
				li {
					padding-bottom: 3px;
					border-bottom: 1px solid $color-lines;
					&:last-child { border: 0px; }
					label.doc-info {
						font-family: "opensans-light";
						font-style: italic;
						margin: 0;
						clear: both;
						padding: 7px 0 0 0;
						font-size: 12px;
						float: left;
					}
					.go-doc {
						a {
							margin: 7px 0px 4px 10px;
							@include tiny-bt;
						}
					}
					p {
						clear: both;
						margin-bottom: 3px;
					}
				}
			}
		}
	}
//=======================================

// eye-list =============================
	.eye-list {
		li {
			float: left;
			width: 53px;
			margin-left: 5px;
			.icon {
				width: 30px;
				height: 20px;
				margin-left: 25px;
			}
			input {
				float: left;
			}
			.icon-peoples {
				background: url("#{$path-to-images}/icon_personas.png") no-repeat left 3px;
			}
			.icon-orgs {
				background: url("#{$path-to-images}/icon_org.png") no-repeat left 1px;
			}
			.icon-places {
				background: url("#{$path-to-images}/icon_lugares.png") no-repeat left 1px;
			}
			.icon-dates {
				background: url("#{$path-to-images}/icon_fecha.png") no-repeat left 1px;
			}
		}
	}
//=======================================











