<ul class="filters">
  <li>
    <input class="selection-all" type="checkbox">
    Todos
  </li>
  <li>Ordenar por <a href="#" class="sort-title asc">nombre</a> | <a href="#" class="sort-date asc">fecha</a></li>
</ul>
<ul class="documents"></ul>