<label class="doc-name">
  <input type="checkbox" class="selection" {{#if selected}}checked{{/if}}>
  {{title}}
</label>
<label class="doc-date">{{formatDate created_at}}</label>
<div class="tools">
  <a class="tool tool-1 preview" href="{{urls.preview}}"></a>
  <a class="tool tool-3 download" href="{{urls.file}}" target="_blank"></a>
  {{#if deleteable}}
  <a class="tool tool-4 delete"></a>
  {{/if}}
</div>
