<div class="box-content-actions list-actions clearfix">
  <div class="select-all checkbox">
    <label>
      <input type="checkbox" class="selection-all" value="">
      Todos
    </label>
  </div>
  <div id="order-for" class="order-for wrapper-dropdown" tabindex="1">
    <span>
      <a href="#">Ordenar</a>
    </span>
    <ul class="dropdown">
      <li>
        <a class="sort-title asc">
          <i class="foundicon-up-arrow arrow-asc"></i>
          <i class="foundicon-down-arrow arrow-desc"></i>
          Nombre
        </a>
        </li>
      <li>
        <a class="sort-date asc">
          <i class="foundicon-up-arrow arrow-asc"></i>
          <i class="foundicon-down-arrow arrow-desc"></i>
          Fecha
        </a>
      </li>
    </ul>
  </div>
  <div class="back-bt" style="display:none;">
    <a class="clear-search" href="/documents/">Volver a los documentos</a>
  </div>
</div>
<ul class="documents documents-list">
</ul>
