<div class="submenu-tools-options upload-doc" style="top:80px;">
  <div class="file-upload-container">
    <input id="file-upload" multiple type="file">
  </div>
  <div id="progress" class="progress-bar" style="display:none;">
    <div class="wrapper-bar">
      <div class="bar" style="width: 0%;"></div>
        <div class="result"></div>
    </div>
  </div>
</div>
