<div id="submenu-tools-options-upload-doc" class="submenu-tools-options export-doc" style="top:84px;">
  <ul class="check-list clearfix">
    <li class="item-list name">
      <input id="class-name" type="radio" name="class" value="people">
      <label for="class-name">Nombre</label>
    </li>
    <li class="item-list org">
      <input id="class-org" type="radio" name="class" value="organizations">
      <label for="class-org">Organizaciones</label>
    </li>
    <li class="item-list place">
      <input id="class-place" type="radio" name="class" value="places">
      <label for="class-place">Lugares</label>
    </li>
    <li class="item-list date">
      <input id="class-date" type="radio" name="class" value="dates">
      <label for="class-date">Fechas</label>
    </li>
    <!--
    <li class="item-list all">
      <input id="class-all" type="radio" name="class" value="all">
      <label for="class-all">Todas</label>
    </li>
    -->
  </ul>
  <a id="do-export" href="#" target="_blank">Exportar</a>
</div>
