
<input id="search" type="text" placeholder="Buscar Documentos">

<ul>
  <li>
    <a id="upload">Subir Documentos</a>
  </li>
  <li class="multi">
    <a id="export">Exportar</a>
  </li>
  <li class="multi">
    <a id="download">Descargar</a>
  </li>
  <li class="multi">
    <a id="delete">Eliminar</a>
  </li>
</ul>

<br/>

<div class="sub-menu"></div>