<div class="submenu-tools-options upload-doc" style="top:80px;">
  <div class="file-upload-container">
    <h3>Pegue aquí los links a analizar:</h3>
    <form>
      <textarea class="upload-links"></textarea>
      <div class="error-message empty-error hide">Debe pegar los links en el contenedor</div>
      <div class="error-message wrong-input-error hide">Alguno de los links es inválido</div>
    </form>
    <button class="submit">Subir links</button>
    <button class="cancel">Cancelar</button>
    <br>
  </div>
</div>
