.document{data: { id: "{{id}}" }}
  %ul.nav.nav-tabs{:class => locals[:small] ? "small" : nil}
    %li.active
      %a{href: '#facts', data: { toggle: 'tab'}} Hechos
    %li
      %a{href: '#names', data: { toggle: 'tab'}} Nombres
    %li
      %a{href: '#organizations', data: { toggle: 'tab'} } Organizaciones
    %li
      %a{href: '#dates', data: { toggle: 'tab'} } Fechas
    %li
      %a{href: '#places', data: { toggle: 'tab'} } Lugares
  .tab-content
    .tab-pane.active#facts
      %ul
        {{#registers}}
        %li
          %span.people
            {{who}}
          %span.dates
            {{when}}
          %span.others
            {{what}}
          %span.places
            {{where}}
          %span.people
            {{to_who}}
        {{/registers}}
    .tab-pane#names
      %table.table.table-bordered.table-condensed.tablesorter
        %thead
          %tr
            %th
            %th
              Personas
            %th
              Menciones
        %tbody
          {{#people}}
          %tr
            %td.blacklist
              %a{href: "/api/blacklist/{{id}}", data: {name: "{{name}}"}}
                %i.icon-remove
            %td
              {{name}}
            %td
              {{mentions}}
          {{/people}}
      %a{href: '/documents/{{id}}/people'} Lista completa
    .tab-pane#organizations
      %table.table.table-bordered.table-condensed.tablesorter
        %thead
          %tr
            %th
              Organizaciones
            %th
              Menciones
        %tbody
          {{#organizations}}
          %tr
            %td
              {{text}}
            %td
              {{mentions}}
          {{/organizations}}
      %a{href: '#'} Lista completa
    .tab-pane#dates
      %table.table.table-bordered.table-condensed.tablesorter
        %thead
          %tr
            %th
              Fechas
            %th
              Menciones
        %tbody
          {{#dates}}
          %tr
            %td
              {{text}}
            %td
              {{mentions}}
          {{/dates}}
    .tab-pane#places
      %table.table.table-bordered.table-condensed.tablesorter
        %thead
          %tr
            %th
              Lugares
            %th
              Menciones
        %tbody
          {{#places}}
          %tr
            %td
              {{text}}
            %td
              {{mentions}}
          {{/places}}
