development:
    dsn: mysql2://user:pass@localhost/db_name
    
defaults: &defaults
  host: staff.mongohq.com
  port: 10014
  username: alegato
  password: alegato
  database: alegato

development:
  <<: *defaults

test:
  <<: *defaults

production:
  <<: *defaults

    
