.content.clearfix
  %h1 Nosotros
  %h2 Analice.me
  %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque accumsan nisl lacus, et tincidunt eros pellentesque non. Vivamus libero enim, dictum nec consequat ut, elementum in eros. Maecenas metus nunc, iaculis vel posuere eget, mollis et risus. Duis fermentum, tortor id bibendum sollicitudin, odio dolor placerat lectus, sit amet mollis nisi lorem sed nulla. Etiam vel eros tempus, semper libero vel, tristique metus. Sed euismod arcu sed quam vulputate sollicitudin. Nulla non justo elit. Fusce eu pellentesque tortor. Integer rhoncus, neque in hendrerit pretium, leo diam feugiat eros, a consequat neque metus quis leo. In placerat lectus id porta imperdiet. Nullam sit amet volutpat est. Vivamus tempor suscipit venenatis. Proin enim felis, laoreet et molestie sed, consequat non eros. Morbi eu dictum ante. Suspendisse potenti.
  %h2 Equipo
  %ul.people-list
    %li.people.clearfix
      .left-info.clearfix
        .avatar
          %img{src: "images/avatar/avatar.png"}/
        .social-icon.linkedin
          %img{src: "http://dummyimage.com/21x20/dedade/000003.png"}/
        .social-icon.twitter
          %img{src: "http://dummyimage.com/21x20/dedade/000003.png"}/
        .social-icon.face
          %img{src: "http://dummyimage.com/21x20/dedade/000003.png"}/
      .right-info.clearfix
        .name Nombre Apellido
        %div{lass: "mail"}
          %a{href: "mailto:mail@mail.com", target: "_top"} mail@mail.com
        %p.info
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque accumsan nisl lacus, et tincidunt eros pellentesque non. Vivamus libero enim, dictum nec consequat ut, elementum in eros. Maecenas metus nunc, iaculis vel posuere eget, mollis et risus.
          %br/
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque accumsan nisl lacus, et tincidunt eros pellentesque non. Vivamus libero enim, dictum nec consequat ut, elementum in eros. Maecenas metus nunc, iaculis vel posuere eget, mollis et risus.
    %li.people.clearfix
      .left-info.clearfix
        .avatar
          %img{src: "images/avatar/avatar.png"}/
        .social-icon.linkedin
          %img{src: "http://dummyimage.com/21x20/dedade/000003.png"}/
        .social-icon.twitter
          %img{src: "http://dummyimage.com/21x20/dedade/000003.png"}/
        .social-icon.face
          %img{src: "http://dummyimage.com/21x20/dedade/000003.png"}/
      .right-info.clearfix
        .name Nombre Apellido
        %div{lass: "mail"}
          %a{href: "mailto:mail@mail.com", target: "_top"} mail@mail.com
        %p.info
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque accumsan nisl lacus, et tincidunt eros pellentesque non. Vivamus libero enim, dictum nec consequat ut, elementum in eros. Maecenas metus nunc, iaculis vel posuere eget, mollis et risus.
          %br/
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque accumsan nisl lacus, et tincidunt eros pellentesque non. Vivamus libero enim, dictum nec consequat ut, elementum in eros. Maecenas metus nunc, iaculis vel posuere eget, mollis et risus.
    %li.people.clearfix
      .left-info.clearfix
        .avatar
          %img{src: "images/avatar/avatar.png"}/
        .social-icon.linkedin
          %img{src: "http://dummyimage.com/21x20/dedade/000003.png"}/
        .social-icon.twitter
          %img{src: "http://dummyimage.com/21x20/dedade/000003.png"}/
        .social-icon.face
          %img{src: "http://dummyimage.com/21x20/dedade/000003.png"}/
      .right-info.clearfix
        .name Nombre Apellido
        %div{lass: "mail"}
          %a{href: "mailto:mail@mail.com", target: "_top"} mail@mail.com
        %p.info
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque accumsan nisl lacus, et tincidunt eros pellentesque non. Vivamus libero enim, dictum nec consequat ut, elementum in eros. Maecenas metus nunc, iaculis vel posuere eget, mollis et risus.
          %br/
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque accumsan nisl lacus, et tincidunt eros pellentesque non. Vivamus libero enim, dictum nec consequat ut, elementum in eros. Maecenas metus nunc, iaculis vel posuere eget, mollis et risus.
.side-bar.clearfix
  %h2 Partners
  %ul.partners-list
    %li.partner.clearfix
      .left-part.clearfix
        .logo
          %img{src: "http://dummyimage.com/119x73/dedade/000003.png"}/
      .rigth-part.clearfix
        .partner-name NOMBRE PARTNER
        .website
          %a{href: "#"} www.urlpartner.org
    %li.partner.clearfix
      .left-part.clearfix
        .logo
          %img{src: "http://dummyimage.com/119x73/dedade/000003.png"}/
      .rigth-part.clearfix
        .partner-name NOMBRE PARTNER
        .website
          %a{href: "#"} www.urlpartner.org
    %li.partner.clearfix
      .left-part.clearfix
        .logo
          %img{src: "http://dummyimage.com/119x73/dedade/000003.png"}/
      .rigth-part.clearfix
        .partner-name NOMBRE PARTNER
        .website
          %a{href: "#"} www.urlpartner.org
    %li.partner.clearfix
      .left-part.clearfix
        .logo
          %img{src: "http://dummyimage.com/119x73/dedade/000003.png"}/
      .rigth-part.clearfix
        .partner-name NOMBRE PARTNER
        .website
          %a{href: "#"} www.urlpartner.org
    %li.partner.clearfix
      .left-part.clearfix
        .logo
          %img{src: "http://dummyimage.com/119x73/dedade/000003.png"}/
      .rigth-part.clearfix
        .partner-name NOMBRE PARTNER
        .website
          %a{href: "#"} www.urlpartner.org