.main-content.terms-conditions.clearfix
  .content.clearfix
    %h1 Términos de uso
    %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque accumsan nisl lacus, et tincidunt eros pellentesque non. Vivamus libero enim, dictum nec consequat ut, elementum in eros. Maecenas metus nunc, iaculis vel posuere eget, mollis et risus. Duis fermentum, tortor id bibendum sollicitudin, odio dolor placerat lectus, sit amet mollis nisi lorem sed nulla. Etiam vel eros tempus, semper libero vel, tristique metus. Sed euismod arcu sed quam vulputate sollicitudin. Nulla non justo elit. Fusce eu pellentesque tortor. Integer rhoncus, neque in hendrerit pretium, leo diam feugiat eros, a consequat neque metus quis leo. In placerat lectus id porta imperdiet. Nullam sit amet volutpat est. Vivamus tempor suscipit venenatis. Proin enim felis, laoreet et molestie sed, consequat non eros. Morbi eu dictum ante. Suspendisse potenti.
    %p Integer velit enim, rutrum non viverra mollis, sodales eu augue. Vivamus molestie ligula non leo suscipit suscipit. Fusce a lacinia lectus. Sed pellentesque risus erat, sit amet tempor sapien gravida vitae. Integer eu volutpat risus. Proin mollis, dolor id placerat tempor, mauris orci imperdiet magna, quis dictum justo nisl in velit. Pellentesque egestas sed quam id tincidunt. Curabitur fringilla nisi lacus, ac auctor libero vehicula quis.
    %p Nunc in convallis erat, et facilisis urna. Mauris vel laoreet lacus, sit amet porta ligula. Ut ornare pulvinar cursus. Fusce lectus tellus, porta in augue sed, egestas interdum orci. Nam sit amet dignissim nunc. Fusce ac neque at quam ultricies ornare ac sit amet massa. Curabitur nulla sem, tempor eu nibh sed, luctus adipiscing neque. Etiam pharetra est metus, id euismod tortor tincidunt tempus. Duis eu suscipit leo.
    %p Integer erat tortor, posuere a dictum non, semper at magna. In accumsan, turpis et sagittis congue, nisi lacus consectetur risus, ut placerat odio diam ac tortor. Mauris dignissim nec metus eget porttitor. Etiam sagittis a nibh vel varius. Maecenas molestie arcu ligula, non
  .side-bar.clearfix
    %h3 Nosotros
    %p
      %strong Analice.me
      %br/
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque accumsan nisl lacus, et tincidunt eros pellentesque non. Vivamus libero enim, dictum nec consequat ut, elementum in eros. Maecenas metus nunc, iaculis vel posuere
    %h4
      = link_to "ver más.", about_path