<div class="wrapper clearfix">
  <label>{{name}}</label>
  <div class="result">
    <div class="value">{{mentions}}</div>
    <div class="view-more"></div>
    <div class="view-more-list mentions-ctn" style="display: none"></div>
    <!--
    <div class="view-more-list-lvl2">
      <div class="view-more-list-lvl2-list">
        <ul>
          <li class="clearfix">
            <label class="doc-info">p.1423</label>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc id libero adipiscing, pretium tellus pellentesque, mollis dui. Sed vitae scelerisque libero.</p>
          </li>
          <li class="clearfix">
            <label class="doc-info">p.1</label>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc id libero adipiscing, pretium tellus pellentesque, mollis dui. Sed vitae scelerisque libero.</p>
          </li>
          <li class="clearfix">
            <label class="doc-info">p.983</label>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc id libero adipiscing, pretium tellus pellentesque, mollis dui. Sed vitae scelerisque libero.</p>
          </li>
          <li class="clearfix">
            <label class="doc-info">p.634</label>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc id libero adipiscing, pretium tellus pellentesque, mollis dui. Sed vitae scelerisque libero.</p>
          </li>
        </ul>
      </div>
    </div>
  -->
  </div>
</div>