{{#unless hideClose}}
<div class="more-list-close">x</div>
{{/unless}}
<div class="content-list">
  <div class="header-list">
    <em>Este nombre se encuentra en los siguientes documentos</em>
  </div>
  <ul class="mentions"></ul>
</div>