---
title: Nosotros | Mapa76
---
<div class="main-content about-us clearfix">
	<div class="content clearfix">
		<h1>Nosotros</h1>
		<h2>Mapa76.info</h2>
		<p>El resultado de Mapa76 es producto de dos años de trabajo colaborativo a través de encuentros de Hacks/Hackers Buenos Aires. Fue inicialmente anunciado en un hackatón en Tecnópolis en agosto de 2011 y desde entonces más de 50 personas participaron en diversos encuentros intentando aportar soluciones. El proyecto fue seleccionado como finalista del African News Challenge (aunque finalmente no recibió financiación por ello), fue elegido para participar en conferencias internacionales como Mozilla Festival. 
		</p>
		<p>Aquí hay una lista de colaboradores que participaron de Mapa76 por “orden de llegada”. Si quiere ver el equipo actual que soporta Mapa76, lo invitamos a ver Analice.me, la tecnología que usa Mapa76 para analizar documentos.
		</p>
		<h2>Equipo</h2>
		<ul>
			<li>
				<strong>Mariano Blejman</strong> “el señor que manda los e-mails”
				<p>Obsesivo compulsivo con @mapa76, integrante de Hacks/Hackers BA y gran jugador de tenis de mesa.</p>
			</li>
			<li>
				<strong>Martín Sarsale</strong> “yo estoy del lado de los hackers”
				<p>hacker de computadoras, plantas y comida.</p>
			</li>
			<li>
				<strong>César Miquel</strong> “Dadle al César lo que es del César”
				<p>CTO de EasyTech, Físico –del carajo– de la UBA</p>
			</li>
			<li>
				<strong>Mariana Berruezo</strong> “entusiasta exploradora de los para qué de la web”
				<p>Abogada, analista, project manager, productora de contenidos y miembro multifunción de Hack/Hackers Buenos Aires</p>
			</li>
			<li>
				<strong>Ezequiel Clerici</strong> “Buenos Aires siempre estuvo cerca”
				<p>Periodista de ClubdeFun y miembro de Hacks/Hackers Bs. As.</p>
			</li>
			<li>
				<strong>Diego Accorinti</strong> “El pibe que hizo el logo”
				<p>Diseñador gráfico con espíritu industrial</p>
			</li>
			<li>
				<strong>Marcos Vanetta</strong> “Salteño y ricotero”
				<p>Ingeniero Biomédico especializado en Ingeniería de Software.</p>
			</li>
			<li>
				<strong>Damián Silvani</strong> “el gran extractor”
				<p>Programador con una pasión por querer resolver problemas complicadísimos, miembro de Hacks/Hackers Buenos Aires y fonometrógrafo aficionado.</p>
			</li>
			<li>
				<strong>Matías Iturburu</strong> “Quizás me recuerden por películas como ‘Lo que el vidrio me dejó’”
				<p>Programador con muchas opiniones sobre todos los temas.</p>
			</li>
			<li>
				<strong>Andrés Snitcofsky</strong> “el que tira la idea y esconde el mouse”
				<p>Diseñador gráfico utópico, acude a las hackatones sin laptop con el único deseo de hacerse odiar por programadores y periodistas por igual, intentando impulsar el proyecto a metas aun más inalcanzables.</p>
			</li>
			<li>
				<strong>David Lima Cohen</strong> “amante del drag and drop”
				<p>Desarrollador web. Convertidor de cafeína en HTML5 & CSS3. Evangelizador de Simpsons como lengua universal.</p>
			</li>
			<li>
				<strong>Luciana Padua</strong> “una minera sin pico ni pala”.
				<p>Licenciada en Administración y especialista en Data Mining, reciente incorporación de Hacks/Hackers Buenos Aires, de cabeza para @mapa76.</p>
			</li>
			<li>
				<strong>Sergio Sorín</strong> una melange entre Derechos humanos y TICs
				<p>Desde el auge de internet busca combinar el periodismo y la defensa de los derechos humanos con las tecnologías de la información y la comunicación.</p>
			</li>
		</ul>
	</div>
	<div class="side-bar clearfix">
		<h2>Partners</h2>
		<ul class="partners-list">
			<li class="partner clearfix">
				<div class="left-part clearfix">
					<div class="logo">
						<img src="http://dummyimage.com/119x73/dedade/000003.png" />
					</div>
				</div>
				<div class="rigth-part clearfix">
					<div class="partner-name">NOMBRE PARTNER</div>
					<div class="website"><a href="#">www.urlpartner.org</a></div>
				</div>
			</li>
			<li class="partner clearfix">
				<div class="left-part clearfix">
					<div class="logo">
						<img src="http://dummyimage.com/119x73/dedade/000003.png" />
					</div>
				</div>
				<div class="rigth-part clearfix">
					<div class="partner-name">NOMBRE PARTNER</div>
					<div class="website"><a href="#">www.urlpartner.org</a></div>
				</div>
			</li>
			<li class="partner clearfix">
				<div class="left-part clearfix">
					<div class="logo">
						<img src="http://dummyimage.com/119x73/dedade/000003.png" />
					</div>
				</div>
				<div class="rigth-part clearfix">
					<div class="partner-name">NOMBRE PARTNER</div>
					<div class="website"><a href="#">www.urlpartner.org</a></div>
				</div>
			</li>
			<li class="partner clearfix">
				<div class="left-part clearfix">
					<div class="logo">
						<img src="http://dummyimage.com/119x73/dedade/000003.png" />
					</div>
				</div>
				<div class="rigth-part clearfix">
					<div class="partner-name">NOMBRE PARTNER</div>
					<div class="website"><a href="#">www.urlpartner.org</a></div>
				</div>
			</li>
			<li class="partner clearfix">
				<div class="left-part clearfix">
					<div class="logo">
						<img src="http://dummyimage.com/119x73/dedade/000003.png" />
					</div>
				</div>
				<div class="rigth-part clearfix">
					<div class="partner-name">NOMBRE PARTNER</div>
					<div class="website"><a href="#">www.urlpartner.org</a></div>
				</div>
			</li>
		</ul>
	</div>
</div>