---
title: Mapa76
---

<div class="main-content home clearfix">
	<div class="content clearfix">
		<div class="content-caroufredsel carouse2">
		<ul id="content-caroufredsel" class="slides clearfix">
			<li>
				<img src="http://dummyimage.com/567x377/c9c7c9/fff.png" />
			</li>
			<li>
				<img src="http://dummyimage.com/567x377/c9c7c9/fff.png" />
			</li>
			<li>
				<img src="http://dummyimage.com/567x377/c9c7c9/fff.png" />
			</li>
			<li>
				<img src="http://dummyimage.com/567x377/c9c7c9/fff.png" />
			</li>
		</ul>
		<div id="content-caroufredsel-pager" class="pager clearfix"></div>
	</div>
	</div>
	<div class="side-bar clearfix">
		<h3>¿Es la primera vez que ingresas?</h3>
		<p>Mapa76 es una plataforma de investigación periodística que detecta entidades automáticamente, realiza análisis semántico y estructura la información para mostrar relaciones visuales, aplicada a los juicios de la última dictadura militar argentina. Además, la sección de “Galería” ofrece un recorrido por visualizaciones de datos sobre el Terrorismo de Estado.
		</p>
		<div class="arrow-deco"></div>
		<a href="http://mapa76.info/mapa76" class="button-bigger" style="margin-bottom: 20px;">Ver documentos</a>
		<a href="http://blog.mapa76.info" class="button-bigger" style="margin-bottom: 20px;">Blog</a>
		<a href="http://ccd.mapa76.info/" class="button-bigger" style="margin-bottom: 20px;">Galería</a>
	</div>
</div>
