---
title: Términos de uso | Mapa76
---
<div class="main-content terms-conditions clearfix">
	<div class="content clearfix">
		<h1>Términos y condiciones de uso para Mapa76.info</h1>
		<p>Los siguientes términos y condiciones de uso para Mapa76.info están basados en los términos y condiciones de Analice.me y son un contrato legal entre usted y Analice.me respecto al uso de Analice.me y cualquier software adicional.

Animamos a todos los usuarios a aprender sobre sus derechos y responsabilidades legales con respecto al uso legítimo de los derechos de autor protegidos y el contenido de otro modo privilegiado.

Analice.me hace uso de Freeling cuyos términos de servicio se incorporan <a href='http://nlp.lsi.upc.edu/freeling/index.php?option=com_content&task=view&id=26&Itemid=64'>aquí</a>.
		</p>
		<h2>Responsabilidad de Colaboradores</h2>
		<p>Usted es un Contribuyente de documentos si carga archivos a Analice.me, ya sea a través de nuestra API o mediante la interfaz web. Analice.me pretende ser un repositorio y el índice de fuentes primarias . Como Contribuyente usted está de acuerdo:</p>
		<p>* para asegurarse de que cualquier usuario que añada a Analice.me entiendan y se adhieran a estos términos y condiciones;</p>
		<p>* que no vas a añadir Colaboradores documento u otro usuarios menores de 13 años. Si está trabajando con los jóvenes y quiere que participen en Analice.me, por favor póngase en contacto con nosotros para hacer frente a esto.</p>
		<p>* que usted entienda que Analice.me pretende ser una herramienta para los adultos y que usted no añada Colaboradores menores de 18 años sin el acuerdo previo de Analice.me;</p>
		<p>* que no utilizará Analice.me para publicar o hacer público documentos que usted no tiene el derecho legal de distribuir públicamente;
		</p>
		<p>* a no infringir ningún derecho de autor, marcas, patentes , u otros derechos de propiedad de cualquier persona;</p>
		<p>* que va a ejercer su criterio editorial para determinar la autenticidad de los documentos que publique y que elimine de inmediato los documentos cuya autenticidad o veracidad no está seguro de validar;</p>
		<p>* que va a abstenerse de violar los derechos de privacidad de los particulares que pueda ser descrito en los documentos que publique en Analice.me ;</p>
		<p>* que no cargará los documentos que contengan contenido comercial no ética o no deseado diseñado para dirigir el tráfico a sitios de terceros o impulsar los motores de búsqueda de sitios de terceros ;</p>
		<p>* que no confundan a los usuarios Analice.me cuanto a la fuente de cualquier material que has subido.</p>
		<p>* Violaciónes graves de este acuerdo pueden permitir que en una organización entera o usuario quede prohibida en Analice.me.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque accumsan nisl lacus, et tincidunt eros pellentesque non. Vivamus libero enim, dictum nec consequat ut, elementum in eros. Maecenas metus nunc, iaculis vel posuere eget, mollis et risus. Duis fermentum, tortor id bibendum sollicitudin, odio dolor placerat lectus, sit amet mollis nisi lorem sed nulla. Etiam vel eros tempus, semper libero vel, tristique metus. Sed euismod arcu sed quam vulputate sollicitudin. Nulla non justo elit. Fusce eu pellentesque tortor. Integer rhoncus, neque in hendrerit pretium, leo diam feugiat eros, a consequat neque metus quis leo. In placerat lectus id porta imperdiet. Nullam sit amet volutpat est. Vivamus tempor suscipit venenatis. Proin enim felis, laoreet et molestie sed, consequat non eros. Morbi eu dictum ante. Suspendisse potenti.</p>
		
		<h2>La responsabilidad de todos los usuarios</h2>
		<p>Usted es un usuario si utiliza Analice.me en cualquier capacidad que incluye como Colaborador. Todos los usuarios de Analice.me estarán de acuerdo en lo siguiente:</p>
		<p>* no intentar obtener acceso a la cuenta de otro usuario;</p>
		<p>* no intentar obtener acceso a los documentos no publicados almacenados por Colaboradores que no sea usted;</p>
		<p>* no intentar obtener acceso a cualquier contenido privado almacenado en Analice.me , incluyendo, pero no limitado a, anotaciones privadas, búsquedas o los marcadores almacenados.</p>

		<h2>Privacidad</h2>
		<p>Política de privacidad de Analice.me se incorpora a estos Términos por referencia. Por favor, lea la Política de Privacidad de Analice.me cuidadosamente para obtener información en relación con la recopilación, uso y divulgación de su información personal de Analice.me.</p>
		<p>Analice.me no pretende ser un servicio anónimo para el intercambio de documentos. Así que, como un documento de Contribuyente , que , además, está de acuerdo :</p>
		<p>* proporcionar a Analice.me su nombre actual y exacta y la información de contacto;</p>
		<p>* que usted es responsable de mantener la confidencialidad de las contraseñas asociadas a su cuenta Analice.me ;</p>
		<p>* que usted es el único responsable de todas las actividades y cargas que ocurren bajo su cuenta ;</p>
		<p>* que notificará Analice.me inmediatamente en caso de cualquier actividad no autorizada en su cuenta.</p>

		<h2>Cookies:</h2>
		<p>Analice.me utiliza cookies para almacenar información de acceso a documento colaboradores . Si está utilizando un ordenador público , y usted no puede cerrar la sesión o salir del navegador después de que termine su período de sesiones, una persona puede ser capaz de acceder a su cuenta .</p>
		<p>Las comunicaciones entre usted y Analice.me pueden pasar a través de muchas máquinas , sistemas operativos , programas, navegadores , servidores Web, redes , routers, conmutadores Ethernet , los proveedores de servicios de Internet , servidores proxy , intranets, el sistema de telefonía pública , u otros dispositivos en sus instalaciones, en Analice.me , y en el medio. Algunos de estos dispositivos crean los registros de las actividades que se registran en los sistemas informáticos .</p>
		<p>Es posible que los servidores que hospedan Analice.me pueden correr peligro por los demás y que la información en las computadoras de Analice.me podría ser recopilada y difundida sin el conocimiento o consentimiento de Analice.me .</p>

		<h2>Limitación de la responsabilidad</h2>
		<p>IMPORTANTE : Analice.me no es responsable por la violación de la privacidad que pueden ocurrir como resultado de la falta de cualquier usuario de ejercer mejores prácticas en puestos de trabajo públicos, en las redes públicas , o con respecto a asegurar las contraseñas. Analice.me no es responsable por la violación de la privacidad que pueden ocurrir como resultado del acceso de terceros sobre los cuales no tenemos control. Analice.me tampoco es responsable por la pérdida de información que pudiera surgir de trabajos de mantenimiento del sitio.</p>

		<h2>Cuando Analice.me revela información:</h2>
		<p>Analice.me puede divulgar cualquier información que recoge de los usuarios si Analice.me crea de buena fe que dicha acción es necesaria para cumplir con un proceso legal.Al recibir una citación o demanda similar para la información del usuario, Analice.me notificará inmediatamente al usuario de la solicitud a menos que tengamos razones para creer que estemos legalmente prohibido hacerlo. Si creemos que estamos obligados por ley a proporcionar la información solicitada, le proporcionaremos que no antes de 30 días después de la notificación al usuario, a menos que tengamos razones para creer que estamos obligados por ley a proporcionar antes.</p>

		<h2Privacidad de los niños :</h2>
		<p>Analice.me está dirigido a adultos. No recopilamos a sabiendas información personal de niños menores de 13 años de edad. Si usted es un padre o tutor legal de un niño menor de 13 años de edad que usted cree ha enviado información personal a Analice.me, por favor póngase en contacto con nosotros inmediatamente.</p>

		<h2>Infracción de Derechos de Autor y Política DMCA</h2>
		<p>No subas material protegido por copyright a Analice.me. Es nuestra política respetar los derechos de autor y otros titulares de propiedad intelectual.</p>
		<p>Si usted cree que el material situado en Analice.me infringe sus derechos de autor, se le anima a notificar primero al Contribuyente como se identifica en el documento mismo. Si usted no es capaz de identificar el Contribuyente, por favor póngase en contacto con Analice.me directamente para obtener ayuda.</p>
		<p>No es nuestra política de publicar o hacer obras protegidas públicas. Como Contribuyente, es su responsabilidad determinar que usted tiene el derecho de reproducir digitalmente cualquier documento que ha publicado en Analice.me .</p>
		<p>Analice.me puede, en circunstancias apropiadas ya su discreción, eliminar o inhabilitar el acceso a contenido que parezca infringir los derechos de autor u otros derechos de propiedad intelectual de otros. Si usted cree que sus derechos de autor ha sido violado por el material disponible a través Analice.me , por favor proporcione el Agente Derecho de Autor con la siguiente información:</p>
		<p>Identificación de la obra con derechos de autor que usted afirma han sido violadas;</p>
		<p>Una descripción exacta de donde se encuentra el material sobre el cual se queja dentro Analice.me;</p>
		<p>Su dirección, número de teléfono y dirección de correo electrónico;</p>
		<p>Una declaración suya de que usted cree de buena fe que el uso disputado no está autorizado por el propietario del copyright, su agente o la ley;</p>
		<p>Una declaración suya, hecha bajo pena de perjurio, que la información mencionada en su notificación es exacta y que usted es el propietario de los derechos de autor implicados o que está autorizado para actuar en nombre de dicho propietario , y su firma electrónica o física.</p>

		<h2>Open Source y política de marcas comerciales</h2>
		<p>Analice.me es un software de código abierto. El nombre Analice.me es una marca comercial de Analice.me. Nuestro logotipo, ilustraciones y elementos gráficos son material con derechos de autor Creative Commons Share-by Alike, y no pueden ser reproducidas sin permiso.</p>

		<h2>Niños</h2>
		<p>Analice.me pretende ser una herramienta para los adultos. Si usted está interesado en usar Analice.me con hijos menores de 13 años , o si usted es el padre o tutor de un niño menor de 13 años que desee utilizar Analice.me, por favor póngase en contacto con nosotros.</p>

		<h2>Cambios a este Acuerdo</h2>
		<p>En caso de un cambio importante en estos Términos de servicio , se lo notificaremos a los usuarios de acuerdo con nuestra política de privacidad. Lo que constituye un cambio material en estos términos será determinado por Analice.me de buena fe y con sentido común y el juicio razonable. Si Analice.me hace cambiar los términos de este acuerdo , todos los cambios entrarán en vigor en el momento en que publicamos los términos actualizados de servicio.</p>

		<h2>Limitación de la responsabilidad</h2>
		<p>IMPORTANTE : El software y los servicios proporcionados bajo este contrato son proporcionados a usted como está y sin garantías de ningún tipo. Todas las garantías implícitas están excluidas en la medida legalmente permitida. Analice.me proporcionará los servicios y el software que usan la habilidad y cuidado razonable. Bajo ninguna circunstancia Analice.me será responsable ante usted por cualquier pérdida consecuente o indirecto, en beneficios o ventajas económicas. Analice.me no puede garantizar la velocidad de la conexión entre el usuario y el servicio y Analice.me no se hace responsable de cualquier daño o pérdida directa o indirecta causada por la velocidad de conexión . Analice.me hará todos los esfuerzos razonables para asegurar la disponibilidad de los servicios, pero no hace ninguna garantía de que los servicios estarán disponibles sin interrupción. Analice.me no se hace responsable por la pérdida de alguno de los datos o cualquier pérdida de negocio o desventaja financiera para usted como resultado de cualquier pérdida o daño de sus datos como consecuencia de su uso de los servicios. Debe asegurarse copias de seguridad de todos los documentos y datos.</p>

		<h2>Cómo ponerse en contacto Analice.me</h2>
		<p>Ver en contacto con nosotros para la serie completa de formas de comunicarse con nosotros para obtener asistencia técnica o nuevas preguntas de la cuenta.</p>
	</div>
	<div class="side-bar clearfix">
		<h3>Nosotros</h3>
		<p><strong>Mapa76.info</strong><br> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque accumsan nisl lacus, et tincidunt eros pellentesque non. Vivamus libero enim, dictum nec consequat ut, elementum in eros. Maecenas metus nunc, iaculis vel posuere</p>
		<h4>ver más.</h4>
	</div>
</div>
