<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
  <meta name="classification" content=""/>
  <link rel="icon" href="favicon.ico"/>
  <meta name="author" content="mausedar"/>
  <%= stylesheet_link_tag 'pretty', media: 'all' %>
  <%= javascript_include_tag "pretty" %>
  <title>Mapa76</title>

  <!-- IE placeholder function -->
  <script>
    $(function() { $('input, textarea').placeholder();});
  </script>
</head>
  <body>
    <div class="container">
      <div class="header-and-content">
        <div class="wrapper-header clearfix">
          <div class="header clearfix">
            <div class="logo"><a href="index.html"></a></div>
            <div class="user-login">
              <form id="login-form" name="login-form">
                <input type="text" name="username" placeholder="Usuario">
                <input type="password" name="pwd" placeholder="Contraseña">
                <input type="button" value="Ingresar">
              </form>
              <div class="user-options">
                <a href="faq.html">No puedes acceder?</a>
                <a href="reg.html">Registrarme</a>
              </div>
            </div>
          </div>
        </div>
        <div class="line-deco"></div>
        <div class="main-content clearfix">
          <div class="content about-us clearfix">
            <h1>About_us.html</h1>
          </div>
          <div class="side-bar clearfix"></div>
        </div>
      </div>
    </div>
    <div class="footer-secction">
      <div class="wrapper-footer">
        <div class="footer">
          <ul class="footer-menu">
            <li><a href="about_us.html">Nosotros</a></li>
            <li><a href="terms_conditions.html">Términos de uso</a></li>
            <li><a href="blog.html">Blog</a></li>
            <li><a href="contact.html">Contacto</a></li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
