bin_path: /usr/bin/monit

# NOTE Choose a path outside of the project, as the deploy process always
# copies the whole project directory and changes the "current" link, messing up
# the location of the configuration under different circumstances.
config_path: config/monit.conf

pid_path: tmp/pids/monit.pid
log_path: log/monit.log

user: admin
pass: merluza
port: 2813

interval: 5
