default:
  queues:
    - indexer_task
    - mentions_finder_task
    - coreference_resolution_task
    - collisions_detector_task
    - entities_extraction_task
    - text_extraction_task
  num: 1
misc:
  queues:
    - document_process_bootstrap_task
    - misc
  num: 1
