<div class="box-content-actions list-actions clearfix header">
  <div class="documentInfo"></div>
  <div class="pager"></div>
  <div class="visualizer"></div>
  {{#if searching}}
    <div class="back-bt">
      {{#if loggedIn}}
        <a class="clear-search" href="{{ documentUrl }}">Volver al documento</a>
      {{else}}
        <a class="clear-search" href="{{ documentUrl }}">Volver al documento</a>
      {{/if}}
    </div>
  {{/if}}
</div>
<div class='content-wrapper-doc {{#if searching}}search{{/if}}'></div>
