<li class="prev"><a href="#"></a></li>
<li class="current"><span>pag</span><input type="text" name="go-to-page" value="{{currentPage}}"></li>
<li class="total">/ {{pages}}</li>
<li class="next"><a href="#"></a></li>