<li class="prev"><a href="#"></a></li>
<li class="current"><span>pag</span><input type="text" placeholder="0" name="go-to-page"></li>
<li class="total">/ {{pages}}</li>
<li class="next"><a href="#"></a></li>