<ul>
  <li>
    <input class="people" type="checkbox" {{#if selected.people}}checked{{/if}}>
    <label>People</label>
  </li>
  <li>
    <input class="organizations" type="checkbox" {{#if selected.organizations}}checked{{/if}}>
    <label>Orgs</label>
  </li>
  <li>
    <input class="places" type="checkbox" {{#if selected.places}}checked{{/if}}>
    <label>Places</label>
  </li>
  <li>
    <input class="dates" type="checkbox" {{#if selected.dates}}checked{{/if}}>
    <label>Dates</label>
  </li>
</ul>