<ul>
  <li class="people">
    <input type="checkbox">
    <label>People</label>
  </li>
  <li class="oprganizations">
    <input type="checkbox">
    <label>Orgs</label>
  </li>
  <li class="places">
    <input type="checkbox">
    <label>Places</label>
  </li>
  <li class="dates">
    <input type="checkbox">
    <label>Dates</label>
  </li>
</ul>