-# coding: utf-8
!!!
%html
  %head
    %title Centros Clandestinos de Detención
    %script{:src => "http://maps.google.com/maps/api/js?sensor=false", :type => "text/javascript"}
    %script{:src => "/javascripts/ccd.js", :type => "text/javascript"}
    %link{:href => "/images/favicon.ico", :rel => "shortcut icon"}/
    %link{:href => "http://fonts.googleapis.com/css?family=Oswald", :rel => "stylesheet", :type => "text/css"}/
    :css
      #map-canvas { width:600px; height:500px; margin: 0 auto;}
      .title{height: 65px;width:600px;margin:0 auto;}
      .title img{float: left;}
      .title .text{float: left; font-family:'Oswald',Arial,Verdana,sans-serif,Helvetica;font-size: 23px;line-height: 30px;margin: 23px 0 0 10px;}
      .options {margin: 0 auto; width: 47%;}
  %body
    .title
      %img{:src => "/images/m76-60.jpg"}/
      .text Centros Clandestinos de Detención
    #map-canvas
    .options
      %div{:style => "margin-top: 10px;"}
        %label Buscar
        %input#search-string-l1{:type => "text"}
          %input{:onclick => "changeMapl1()", :type => "button", :value => "Buscar"}
            %a{:href => "#", :onclick => "document.getElementById('search-string-l1').value='';cleanSearch();return false;"} Limpiar búsqueda
      %div{:style => "margin-top: 10px;"}
        %label Tipo de establecimiento
        %select#search-string-l0{:onchange => "changeMapl0(this.value);"}
          %option{:value => ""} TODOS
          %option{:value => "DEPENDENCIA ESTATAL"} DEPENDENCIA ESTATAL
          %option{:value => "DEPENDENCIA POLICIA PROVINCIAL"} DEPENDENCIA POLICIA PROVINCIAL
          %option{:value => "DEPENDENCIA POLICIA FEDERAL"} DEPENDENCIA POLICIA FEDERAL
          %option{:value => "DEPENDENCIA SERVICIO PENITENCIARIO PROVINCIAL"} DEPENDENCIA SERVICIO PENITENCIARIO PROVINCIAL
          %option{:value => "DEPENDENCIA GENDARMERIA"} DEPENDENCIA GENDARMERIA
          %option{:value => "DEPENDENCIA PREFECTURA"} DEPENDENCIA PREFECTURA
          %option{:value => "UNIDAD MILITAR EJERCITO"} UNIDAD MILITAR EJERCITO
          %option{:value => "UNIDAD MILITAR FUERZA AEREA"} UNIDAD MILITAR FUERZA AEREA
          %option{:value => "UNIDAD MILITAR MARINA"} UNIDAD MILITAR MARINA
          %option{:value => "UNIDAD PENITENCIARIA PROVINCIAL"} UNIDAD PENITENCIARIA PROVINCIAL
          %option{:value => "UNIDAD PENITENCIARIA FEDERAL"} UNIDAD PENITENCIARIA FEDERAL
          %option{:value => "UNIDAD PENITENCIARIA"} UNIDAD PENITENCIARIA
          %option{:value => "ESTABLECIMIENTO EDUCATIVO"} ESTABLECIMIENTO EDUCATIVO
          %option{:value => "ESTABLECIMIENTO PRIVADO"} ESTABLECIMIENTO PRIVADO
          %option{:value => "HOSPITAL PUBLICO"} HOSPITAL PUBLICO
          %option{:value => "HOSPITAL MILITAR"} HOSPITAL MILITAR
          %option{:value => "VIVIENDA O SIMILAR / PARTICULAR"} VIVIENDA O SIMILAR / PARTICULAR
          %option{:value => "[SIN ESTABLECER]"} [SIN ESTABLECER]
          %option{:value => "OTROS"} OTROS
      %div{:style => "margin-top: 10px;"}
        %label Provincia
        %select#search-string-l2{:onchange => "changeMapProv(this.value);"}
          %option{:value => ""} --Select--
          %option{:value => "BUENOS AIRES"} BUENOS AIRES
          %option{:value => "TUCUMAN"} TUCUMAN
          %option{:value => "CORDOBA"} CORDOBA
          %option{:value => "CAPITAL FEDERAL"} CAPITAL FEDERAL
          %option{:value => "SANTA FE"} SANTA FE
          %option{:value => "MENDOZA"} MENDOZA
          %option{:value => "CORRIENTES"} CORRIENTES
          %option{:value => "ENTRE RIOS"} ENTRE RIOS
          %option{:value => "LA RIOJA"} LA RIOJA
          %option{:value => "MISIONES"} MISIONES
          %option{:value => "JUJUY"} JUJUY
          %option{:value => "CHACO"} CHACO
          %option{:value => "SANTIAGO DEL ESTERO"} SANTIAGO DEL ESTERO
          %option{:value => "SAN JUAN"} SAN JUAN
          %option{:value => "SALTA"} SALTA
          %option{:value => "SAN LUIS"} SAN LUIS
          %option{:value => "LA PAMPA"} LA PAMPA
          %option{:value => "CHUBUT"} CHUBUT
          %option{:value => "FORMOSA"} FORMOSA
          %option{:value => "RIO NEGRO"} RIO NEGRO
          %option{:value => "NEUQUEN"} NEUQUEN
          %option{:value => "CATAMARCA"} CATAMARCA
          %option{:value => ""}
