<style>
  .date{
    color:red
  }
  .name {
    color: blue
  }
  .address {
    color: green
  }
</style>
<script src="/javascripts/jquery.js"></script>
  <h2><%=params[:name]%></h2>
  <ol style="list-style-type:round">
    <%@person.each{|parte|%>
      <li id='<%=parte.fragment_id%>' >
        <button class='more' name='<%=parte.context(400).fragment_id%>'>[+]</button>
        <p class='fragment'><%=markup_fragment(parte.context(400))%></p>
      </li>
    <%}%>
  </ol>

<script>
    $(document).ready(function(){
        $(".more").click(function(e){
            var curr_fragment_id=e.currentTarget.name;
            var context_around = 400;
            $.getJSON("/context",{fragment_id: curr_fragment_id, around: context_around},
                    function(d){
                        e.currentTarget.name=d.fragment_id
                        $(e.currentTarget).siblings("p.fragment").html(d.text)
                    }
                )
        }
        )
    }
    )
</script>
