-# coding: utf-8
- content_for :sidebar do
  %ul.nav.nav-list
    %li.nav-header Eventos
    %li
      %ul.events
        %li.event
          %ul
            %li.person
              %span El Vasco
              %a.close ×
            %li.type
              %span visto en
              %a.close ×
            %li.organization
              %span ERP
              %a.close ×
            %li.place
              %span Campo de Mayo
              %a.close ×
            %li.date
              %span 13 Mayo 1978
              %a.close ×
        %li.event
          %ul
            %li.person
              %span Juan Gómez
              %a.close ×
            %li.date
              %span Abril 1979
              %a.close ×
    %li
      %a{:href => "#"} Link
    %li.nav-header Herramientas
    %li.nav-header Contexto

.row-fluid
  %p
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut semper justo
    non mi scelerisque facilisis. Suspendisse mi nunc, lacinia ut condimentum
    sed, pellentesque at nisl. Duis tellus eros, porttitor eu molestie vel,
    aliquam eu diam. Cras eget mauris felis, in consectetur dui. Cras facilisis
    rhoncus odio vitae convallis. Donec vel magna at nibh adipiscing rutrum eu
    id quam. Integer condimentum magna eget orci pharetra ut consequat lorem
    feugiat. Maecenas pretium nisl faucibus lorem gravida a bibendum mauris
    pharetra. In ac purus quam, vitae dapibus tortor. Integer bibendum, augue
    in dignissim tincidunt, quam mi dapibus nisl, ac adipiscing justo leo a
    odio. Proin condimentum dolor vitae erat hendrerit mollis.

  %p
    Phasellus posuere dui at libero mattis viverra. Aliquam pharetra, nisl id
    scelerisque blandit, odio ligula consequat justo, quis venenatis tellus
    enim non ipsum. Nam in nunc quam. Sed viverra, mauris sit amet faucibus
    adipiscing, urna ipsum molestie est, a porttitor libero libero et sem.
    Nullam sagittis accumsan sem, at vehicula leo cursus aliquet. Nullam cursus
    mollis elit, iaculis vestibulum orci rutrum non. Proin pretium est at
    turpis dapibus non aliquet lorem fermentum. Aliquam consectetur accumsan
    dui nec auctor. In hac habitasse platea dictumst. Maecenas euismod posuere
    nisi, at mollis neque bibendum non. Etiam sit amet sem mi. Suspendisse
    blandit, mauris id porta ultrices, quam risus suscipit mauris, sed dapibus
    arcu odio in mi. Vivamus sodales nisi sit amet massa rhoncus viverra. Nulla
    justo dolor, porta a vehicula et, posuere ut sem.

  %p
    Sed a ullamcorper ipsum. Nullam turpis risus, bibendum vestibulum aliquet
    eget, vulputate ut lorem. Mauris placerat elementum neque, et vestibulum
    sem molestie sed. Aenean turpis nibh, tempus non consectetur fermentum,
    aliquet a ligula. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    In vitae ligula eget leo auctor egestas. Aliquam volutpat pretium massa,
    eget lobortis ipsum bibendum quis. Praesent cursus aliquam dictum. Sed urna
    quam, scelerisque egestas blandit euismod, consectetur eget mauris. Nunc
    vehicula, odio in consectetur pulvinar, purus nulla sodales tellus, non
    malesuada diam magna id dolor.

  %p
    Sed placerat, lacus in tempor adipiscing, augue erat tempus nisi, vitae
    suscipit magna metus vel dolor. Proin sodales tincidunt magna ut
    scelerisque. Fusce nec urna mauris. Duis vulputate est sed odio semper at
    tincidunt enim tempor. Integer ullamcorper sodales sem quis tincidunt.
    Suspendisse vitae imperdiet nisi. Integer condimentum dignissim volutpat.
    Suspendisse eget nibh sed sapien tempor dapibus nec sit amet nibh. Aliquam
    ornare mauris non ipsum porttitor ut sollicitudin nunc commodo. Sed aliquam
    cursus erat, eget pellentesque erat placerat quis. Duis facilisis venenatis
    aliquam. Etiam convallis arcu vel erat interdum pharetra.

  %p
    Aliquam erat volutpat. Nulla facilisi. Nullam sapien urna, elementum at
    hendrerit sed, feugiat vel tellus. Suspendisse cursus turpis in metus
    tincidunt at consequat ante vestibulum. Nullam sit amet feugiat elit.
    Pellentesque dictum ultrices mi vel placerat. Etiam eleifend ornare
    aliquet. Pellentesque habitant morbi tristique senectus et netus et
    malesuada fames ac turpis egestas. Cras quis euismod turpis. Suspendisse
    vulputate, est eget elementum sollicitudin, enim erat elementum nisi, eget
    ornare erat neque id nisl. Suspendisse at nulla enim, a porttitor nibh.
    Donec porttitor, neque sed malesuada varius, tellus elit ultricies mi, in
    pretium risus mi sit amet dui. Pellentesque in laoreet ipsum.

  %p
    Ut a cursus velit. Duis lacinia aliquet urna, a volutpat arcu blandit vel.
    Praesent ultricies, arcu ac tempus suscipit, erat ipsum lacinia sem, ac
    dictum arcu leo id urna. Etiam vitae sem non sem elementum cursus rhoncus
    sit amet risus. Pellentesque sollicitudin felis id libero volutpat a tempus
    tortor lobortis. Duis vel ante dolor. In hac habitasse platea dictumst.
    Vivamus vel justo at nibh volutpat molestie vel eget quam. Sed tempus urna
    dolor, at egestas mauris. Maecenas eros urna, sodales sagittis congue eu,
    sagittis id nunc. In vel mauris at nibh dictum condimentum ut non eros.

  %p
    Praesent ut euismod sem. Mauris id risus nec lacus tristique tincidunt sed
    vitae quam. Mauris aliquet dolor vitae mi sollicitudin quis sagittis magna
    gravida. Integer eu purus eu nulla mollis facilisis a id mi. Ut rhoncus
    tincidunt fermentum. Etiam sit amet arcu vitae quam tristique facilisis.
    Nulla fermentum tempor mauris at volutpat. Nulla pellentesque, purus ut
    condimentum suscipit, lacus ante ultricies orci, eget accumsan ipsum erat
    ut ante. Vivamus non consequat turpis. Nulla nulla sem, vehicula in
    sollicitudin eget, suscipit nec turpis. Mauris scelerisque, tortor ut
    auctor tincidunt, nulla libero commodo orci, at ornare justo libero sit
    amet metus. Fusce adipiscing feugiat est in feugiat.

  %p
    Fusce nisl dolor, posuere cursus rutrum non, ultrices ut sem. Integer et
    commodo enim. Nunc ipsum velit, aliquam ut consequat a, vestibulum sit amet
    turpis. Duis massa ante, imperdiet sit amet placerat vel, pellentesque non
    turpis. Cum sociis natoque penatibus et magnis dis parturient montes,
    nascetur ridiculus mus. Fusce et est arcu. Aenean arcu orci, lacinia sed
    viverra eget, ornare tristique mi. Suspendisse iaculis porta lectus in
    viverra.

  %p
    Sed sed ante enim, ultrices faucibus mauris. In dictum justo quis ante
    malesuada luctus. Sed ac elementum leo. Mauris tincidunt laoreet porta. Nam
    erat ligula, pharetra tristique consectetur vel, commodo ut nibh. Nulla vel
    dictum velit. Cum sociis natoque penatibus et magnis dis parturient montes,
    nascetur ridiculus mus. Nulla nibh quam, ornare quis condimentum vel,
    tempus a enim. Nam lorem dolor, luctus sit amet molestie eget, tincidunt
    quis nibh. Donec ut arcu ante, dapibus molestie tortor. Pellentesque sit
    amet quam et leo hendrerit volutpat vitae eget mauris. Morbi quis libero
    lectus, eu volutpat justo. Curabitur aliquam accumsan pellentesque. Fusce
    pretium mauris at libero porttitor ut varius sapien facilisis. Duis
    vestibulum felis auctor erat interdum a facilisis nisl faucibus.

  %p
    Nam laoreet tellus sed nisl consectetur accumsan. Vestibulum commodo
    laoreet nibh, nec mattis justo tristique eu. Nulla facilisi. Aliquam tempus
    sodales purus, sed congue turpis egestas in. Proin mauris orci, fermentum
    id scelerisque eu, suscipit sit amet tortor. Suspendisse ultrices convallis
    neque et tristique. Ut sagittis tellus interdum lacus laoreet sed vehicula
    est euismod. Pellentesque ultrices, augue id laoreet facilisis, metus ipsum
    eleifend dolor, sed elementum ipsum turpis non ipsum. Suspendisse potenti.
    Donec at massa purus.
