<tr>
  <td>
    <input type='checkbox' class='select_all' id='select_all'>
    <label for='select_all' class='select_all_label'>Todos</label>
  </td>
  <td>
    Ordenar
    <ul class='sort'>
      <li><a href="#" class='sort_title'>Título</a></li>
      <li><a href="#" class='sort_date'>Fecha</a></li>
    </ul>
  </td>
  <td>
    <ul>
      <li><a href='/documents/new'>Subir documento</a></li>
      <li><a href='/documents/new'>Exportar</a></li>
      <li><a href='/documents/new'>Descargar</a></li>
      <li><a href='/documents/new'>Eliminar</a></li>
    </ul>
  </td>
</tr>
<% _.each(documents.models, function(document){ %>
<tr data-id="<%= document.id %>">
  <td>
    <input type='checkbox' data-id="<%= document.id %>" class='document_check'>
  </td>
  <td>
    <h5 class='title'><%= document.get('title') %></h5>
  </td>
</tr>
<% }); %>
