<html>
  <head>
    <link rel="stylesheet" href="/css/style.css" type="text/css"/>
    <link type="text/css" href="/javascripts/css/ui-lightness/jquery-ui-1.8.13.custom.css" rel="Stylesheet" />
    <script src="/javascripts/jquery.js"></script>
    <script src="/javascripts/jquery.highlight.js"></script>
    <script src="/javascripts/js/jquery-ui-1.8.13.custom.min.js"></script>
    <script type='text/javascript' src='http://static.simile.mit.edu/timeline/api-2.3.0/timeline-api.js?bundle=true'></script>
    <script src="/javascripts/js/admin/person.js"></script>

  </head>
  <body>

    <div id="arriba"> 
      <ul> 
        <li class="elemento_menu"><a href="/admin">Documentos</a></li>
        <li class="elemento_menu"><a href="/">L&iacute;nea de Tiempo / Mapa</a></li> 
      </ul> 
    </div> 

    <%= yield %>
  </body>
</html>
<!-- vim: se ts=2 sw=2 ai expandtab: -->
