<html>
  <head>
    <link rel="stylesheet" href="/css/style.css" type="text/css"/>
    <script src="/javascripts/jquery.js"></script>
    <script src="/javascripts/jquery.highlight.js"></script>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
